/* ====================================
   Constants/Variables
   ==================================== */
html, body {
  height: 100%;
  background-color: #FFA672;
  padding-bottom: 70px; // so bottom navbar won't overlay body content
  min-width: 1330px; // stops responsiveness
}

.clear {
  clear: both;
}

/* ====================================
   Top Navigation Bar
   ==================================== */
.navbar-wrapper {
  background-color: white;
  height: 80px; 
}

.navbar { // houses, landlords
  float: left;
  margin: 10px;
}

#nav img { // logo
  height: 60px;
  width: 60px;
}

.sign-in-up { // sign in | up
  float: right;
  padding-top: 30px;
}

/* ====================================
   Footer Section
   ==================================== */
.footer {
  bottom: 0;
  background-color: darken(white, 10%);

  #blurb {
    float: left;
  }

  #contact {
    float: right;
  }
}