/* ====================================
   Constants/Variables
   ==================================== */
html, body {
  height: 100%;
  background-color: #FFA672;
  min-width: 1330px;
  bottom: 0; }

/* ====================================
   Top Navigation Bar
   ==================================== */
.navbar-wrapper {
  background-color: white;
  height: 80px;
  position: relative;
  z-index: 1000; }

.navbar {
  float: left;
  margin: 10px; }

#nav img {
  height: 60px;
  width: 60px; }

.sign-in-up {
  float: right;
  padding-top: 30px; }

/* ====================================
   Footer Section
   ==================================== */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  /* fixed footer height and color */
  height: 50px;
  background-color: #fcfcfc; 
  text-indent: 300px;}
  background-color: #e6e6e6; 
}
  .footer #blurb {
    float: left; 
  }
  .footer #contact {
    float: right; 
  }
.footer, .push {
  height: 80px; 
}
