/* ====================================
   CSS FILE - HOMEPAGE
   ==================================== */
   $form-color: darken(white, 5%);
   $roboto: 'Roboto', sans-serif; // weights: 100, 300, 400, 500, 700

/* ====================================
   Base
   ==================================== */
html {
  /* loads and sets image at full-width full-height of window */
  background: url(../images/darkblurredskyline.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ====================================
   Search Form
   ==================================== */
#search-form {
  margin-top: 10%;
}

#roost {
  text-align: center;
  .panel-title {
    font-size: 40pt;
  }
}

#homepage-search-buttons {
  margin-right: auto;
  margin-left: auto;

  span {
    font-family: $roboto;
    font-weight: 400;
    padding: 0px 50px 0px 50px;
  }
}
