.profile-wrapper {
	margin: 50px 0px 50px 0px;
}

.profile {
	background-color: white;
	padding: 30px 50px 30px 75px;
	border-radius: 10px;
}


.house-title {
	padding-bottom: 20px;
	position: relative;
}

.profile-info {
	float: right;
	overflow: hidden;
	width: 700px;
}

.profile img {
	height: 550px;
	width: 550px;
	padding: 10px;
	border: 1px solid #DBDBDB;
}

.house-primary-image {
	box-shadow: 5px 5px 5px #888888;
}

.house-info {
	height: 340px;
	width: 300px;
	border: 1px solid #DBDBDB;

	padding: 10px 30px;
	font-size: 12pt;
	line-height: 2em;
}

.comment {
	margin-top: 40px;
}
 