/* ====================================
   CSS FILE - HOMEPAGE
   ==================================== */
/* ====================================
   Base
   ==================================== */
html {
  /* loads and sets image at full-wid/private/var/folders/pt/kgj6gzs93gg7746dlbx4c4680000gn/T/209e3a46-a948-4017-9322-7953b8ad227c/var/www/html/Roost/css/homepage.cssth full-height of window */
  background: url(../images/darkblurredskyline.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* ====================================
   Search Form
   ==================================== */
.container {
  background-color: #f2f2f2;
  padding: 20px 30px 10px 30px;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  font-family: "Roboto", sans-serif;
  font-weight: 400;}

.container .name{
color: black;
font-style: italic;
font-size: 25px;
text-align: center;
}

.container .headinfo{
text-align: center;
}

.container .bodyinfo{
padding-left: 100px;
font-size: 18px;
line-height: 200%;
}

.container .comments{
margin-left: 100px;
border: 2px solid gray;
width: 80%;
height: 300px;
}

.container .comments .left{
float: left;
padding-left: 1%;
/*padding-right: 1%;*/
width: 40%;
}

.container .comments .right{
float: right;
/*padding-left: 1%;*/
padding-right: 1%;
width: 50%;
}

#map-canvas {
  height: 500px;
  width: 73%;
  margin-left: auto;
  margin-right: auto;}
