.landlord-profile-img {
  float: left; }
  .landlord-profile-img img {
    height: 300px;
    width: 300px;
    margin-right: 30px; }

.landlord-profile {
  float: clear; }
  .landlord-profile h1 {
    font-size: 20pt; }

ul {
  list-style-type: none; }

#rating {
  height: 20px;
  width: 100px; }

#contact-info li {
  padding-bottom: 5px; }

#properties-owned li {
  display: inline;
  padding: 10px; }

.house-thumbnail {
  height: 200px;
  width: 250px; }
